:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #f44d2c;
  --primary-dark: #d93e20;
  
  --bg: #EFEAE3;
  --bg-light: #f5eee7;

  --text-dark: #222222;
  --text-light: #555555;
}

@import "tailwindcss";